body {
    font-size: 16px;
    line-height: 1.87;
    -webkit-font-smoothing: antialiased;
    color: #202124;
    background-color: #c5d8e0;
    font-family: Roboto, arial,sans-serif !important;
}

body::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    background: url(./amp-lines-motions.png) left bottom no-repeat;
    background-size: 42vw auto;
    transform: rotate(150deg) translate(35%, -20%);
    opacity: .5;
}


.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal {
    color: #202124;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    font-family: Roboto, arial, sans-serif !important;
    font-weight: 800;
}

.reveal h2 {
    color: #fff;
    transform: skewX(-10deg);
    background: linear-gradient(36deg, #203b48, #00799a, #282c34);
    padding: 10px;
    font-weight: 100;
}

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: rgba(42, 121, 197, 1.00);
}

.reveal pre code {
    max-height: 60vh;
}

.logo-heading {
    min-height: 45vh;
}

.logo {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    font-size: 1rem !important;
    background-color: #203b48;
}
.logo span {
    content: "";
    width: 175%;
    height: 450%;
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: shadow 1s linear infinite;
}
.logo span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(35deg);
}
.logo span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-35deg);
    animation-delay: -0.66s;
}
.logo span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg);
    animation-delay: -0.33s;
}

@keyframes shadow {
    0% {
        box-shadow: 0.6em -0.6em 0 0 #203b48;
    }
    25% {
        box-shadow: 0.6em 0.6em 0 0 #203b48;
    }
    50% {
        box-shadow: -0.6em 0.6em 0 0 #203b48;
    }
    75% {
        box-shadow: -0.6em -0.6em 0 0 #203b48;
    }
    100% {
        box-shadow: 0.6em -0.6em 0 0 #203b48;
    }
}
